@model DABugTracker.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}
<!-- Start Content-->
<div class="container-fluid">
    <form asp-action="Edit" asp-controller="Tickets" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ProjectId" />
        <input type="hidden" asp-for="Created" />
        <input type="hidden" asp-for="SubmitterUserId" />
        <input type="hidden" asp-for="DeveloperUserId" />
        <div class="row">
            <h1>Edit Ticket</h1>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body task-detail">
                        <div class="d-block mb-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <label asp-for="Description" class="control-label">Ticket Description</label>
                            <textarea asp-for="Description" class="form-control" rows="14"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-block mb-3">
                            <div class="form-group">
                                <label asp-for="TicketTypeId" class="control-label">Ticket Type</label>
                                <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                                <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-block mb-3">
                            <div class="form-group">
                                <label asp-for="TicketPriorityId" class="control-label">Ticket Priority</label>
                                <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-block mb-3">
                            <div class="form-group">
                                <label asp-for="TicketStatusId" class="control-label">Ticket Status</label>
                                <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-block mb-3">
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="">
                            <div>
                                <a asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->
        </div>
        <!-- end row -->

    </form>
</div> <!-- container -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
