@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BugSense</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/BugSenseIcon.png" type="image/x-icon" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="~/css/materialdesignicons.min.css" />

    <!--pe-7 Icon -->
    <link rel="stylesheet" type="text/css" href="~/css/pe-icon-7-stroke.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link href="~/css/icons.css" rel="stylesheet" type="text/css" />

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="58" class="scrollspy-example">

    <!--Navbar Start-->
    <nav class="nav-bg navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" id="nav-sticky">
        <div class="container-fluid">
            <!-- LOGO -->
            <a class="logo text-uppercase" asp-controller="home" asp-action="index">
                <img src="~/images/BugSenseLogoTransparent.png" alt="" class="logo-light" height="50" />
                <img src="~/images/BugSenseLogoTransparent.png" alt="" class="logo-dark" height="50" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto" id="mySidenav">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- home start -->
    <section class="bg-home bg-gradient landing" id="home">
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-6">
                            <div class="home-title">
                                <h5 class="mb-3 text-white-50">Try Out BugSense Today!</h5>
                                <h2 class="mb-4 text-white">Setup your Company with BugSense</h2>
                                <p class="text-white-50 home-desc font-16 mb-5">Tired of struggling to keep track of software bugs and issues? Look no further! BugSense is the ultimate bug tracker app designed to revolutionize your development workflow. </p>
                                <div class="watch-video mt-5">
                                    <a asp-controller="projects" class="btn btn-custom me-4">Get Started <i class="mdi mdi-chevron-right ms-1"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-1 col-sm-6">
                            <div class="home-img mo-mt-20">
                                <img src="~/images/home-img.png" alt="" class="img-fluid mx-auto d-block">
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
        </div>
    </section>
    <!-- home end -->
    <!-- features start -->
    <!-- contact start -->
    <section class="section" id="contact">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="title text-center mb-5">
                        <h6 class="text-primary small-title">Overview</h6>
                        <h4>What makes bugsense powerful and easy to use</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="~/images/DashboardBugsense.PNG" class="card-img-top" alt="...">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Dashboard</h5>
                            <p class="card-text">A quick overview of all your tickets and projects. Quick access to the most recent projects and tickets. View your important data all in one place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="~/images/ProjectDetailsBugsense.PNG" class="card-img-top" alt="...">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Projects</h5>
                            <p class="card-text">A full project description, archive, edit, and manage members from the project details page. Quick view of all tickets assigned to your project and who is working on them.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="~/images/CompanyInvitesBugsense.PNG" class="card-img-top" alt="...">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Invites</h5>
                            <p class="card-text">Invite new users to your company with a quick email. This allows you safely invite new users and assign them to a project all with a simple form.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </section>
    <!-- contact end -->
    <!-- footer start -->
    <footer class="footer bg-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="text-center">
                        <div class="footer-logo mb-3">
                            <img src="~/images/BugSenseLogoTransparent.png" alt="" height="70">
                        </div>
                        <ul class="list-inline social-links mb-4 mt-5">
                            <li class="list-inline-item"><a href="https://linkedin.com/in/arreoda/"><i class="mdi mdi-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/arreodan/"><i class="mdi mdi-github"></i></a></li>
                            <li class="list-inline-item"><a href="https://danielarreola.dev"><i class="mdi mdi-web"></i></a></li>
                        </ul>
                        <a href="https://danielarreola.dev" target="_blank" class="text-white-50"><p class="text-white-50 mb-4">@DateTime.Now.Year © BugSense Design by Daniel Arreola </p></a>

                    </div>
                </div>

            </div>

        </div>
    </footer>
    <!-- footer end -->
    <!-- javascript -->
    
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- counter js -->
    <script src="~/js/counter.int.js"></script>
    <!-- custom js -->
    <script src="~/js/app.js"></script>
</body>

</html>