@model DABugTracker.Models.Project

@{
    ViewData["Title"] = "Assign Project Members";
}
<div class="d-flex justify-content-center mt-5 flex-column align-items-center">
    <h3 class="my-5">Assign Project Manager</h3>
    <div class="card">
        <div class="card-header">
            <div class="card-title">@Model.Name</div>
        </div>
        <div class="card-body">
            <form asp-action="AssignMember" method="post" class="d-flex flex-column">
                <input type="hidden" asp-for="Id" />

                <select name="SelectedDev" asp-items="ViewBag.DeveloperUserId" multiple></select>
                <select name="SelectedSub" asp-items="ViewBag.SubmitterUserId" multiple></select>
                <button type="submit" class="btn btn-primary my-3">Save</button>
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}